.head>div {
    padding-left: 15px;
}

.mg1200 {
    width: 1200px;
    margin: 0px auto;
}

.head .head-index {
    background: rgb(242, 242, 242);
}

.head .head-index li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0px;
}

.head .head-index li a {
    color: rgb(153, 153, 153);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left: 5px;
    display: block;
}

.head .head-index .fa {
    font-size: 15px;
    color: rgb(255, 0, 54);
}

.head .head-index li a:hover {
    color: rgb(255, 0, 54);
    text-decoration: underline;
}

.head .head-index .hi-ulleft {
    float: left;
}

.head .head-index .hi-ulright {
    float: right;
}

.head .head-index .hi-ulright .hiu-change .fa-angle-up {
    display: none;
}

.head .head-index .hi-ulright .hiu-change:hover .fa-angle-up {
    display: inline;
}

.head .head-index .hi-ulright .hiu-change:hover .fa-angle-down {
    display: none;
}

.head .head-index .hi-ulright .hiur-block a:hover {
    background: white;
}

.head-search {
    padding-top: 25px;
    padding-bottom: 15px;
}

.head-search .hs-mg {
    position: relative;
}

.head-search .hs-logo {
    float: left;
}

.head-search .hs-logo .hsl-sp1 {
    display: block;
    height: 27px;
    width: 190px;
    background: url("./img/TM_list/TM_list_logo.png");
}

.head-search .hs-searchbox {
    float: left;
    margin-left: 105px;
}

.head-search .hs-searchbox .hss-d1 {
    width: 595px;
    height: 30px;
    font-size: 0px;
    border: 3px red solid;
}

.head-search .hs-searchbox .hss-d1 input[type=text] {
    width: 500px;
    height: 30px;
    border: none;
}

.head-search .hs-searchbox .hss-d1 input[type=button] {
    width: 95px;
    height: 30px;
    border: none;
    background: red;
    color: white;
}

.head-search .hs-searchbox .hss-d2 {
    padding-top: 10px;
}

.head-search .hs-searchbox .hss-d2 span {
    display: inline-block;
    border-right: 1px rgb(204, 204, 204) solid;
    padding-right: 15px;
}

.head-search .hs-searchbox .hss-d2 span a {
    color: rgb(153, 153, 153);
}

.head-search .hs-newuser {
    position: absolute;
    top: -25px;
    right: 0px;
}

.head-search .hs-newuser img {
    height: 80px;
}