.header{
    width: 990px;
    
    margin: 0px auto;
    border-bottom: 2px solid #e6e6e6;
    text-align: center;
}

.logo{
    width: 176px;
    height: 70px;
    background: url(../image/./logo.png) no-repeat -128px -125px;
    float: left;
    margin-top: 10px;
}



.cv{
    display: inline-block;    
    padding: 25px 0px;
}

.header li{
    display: inline-block;
    float: left;    
    padding-left: 10px;
    
}

.head-sp1{
    font-size: 22px;
    font-weight: bolder;
    color: #CCCCCC;
    font-family: 宋体;
}


.head-sp0{
    font-size: 22px;
    font-weight: bolder;
    color: #3E3E3E;
    font-family: 宋体;
}

.sp0{
    background-image: url(../image/imag01.png) !important;
}


li>i{
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background-image: url(../image/imag00.png);
    text-align: center;
    line-height: 24px;
}

.main{
    text-align: center;
    margin-top: 60px;
}

.mobile-f{
    display: inline-block;
}

.number{
    width: 236px;
    height: 30px;
    border: 1px solid #E6E6E6;
}

.mobile span{
    font-size: 17px;
    font-weight: bold;
}

.yzm{    
    margin-left: 121px;
}

.yzm-bk{
    width: 236px;
    height: 30px;
    border: 1px solid #E6E6E6;
}

.yzm span{
    font-size: 17px;
    font-weight: bold;
}

.yzm-t{
    width: 120px;
    height: 25px;
    background: url(../image/yz.jpg) no-repeat;
    float: right;    
}

.next{    
    margin-top: 16px;
    margin-left: 37px;
}


.next-t{
    width: 30%;
    height: 36px;
    background: url(../image/img03.png) no-repeat 0px -89px;
    color: #fff;
    font-size: 20px;
    
}





