.header {
    width: 990px;

    margin: 0px auto;
    border-bottom: 2px solid #e6e6e6;
    text-align: center;
}


.logo {
    width: 176px;
    height: 70px;
    background: url("../image/Logon_image/logo.png") no-repeat -128px -125px;
    float: left;
    margin-top: 10px;
}

.cv {
    display: inline-block;
    padding: 25px 0px;
}

.header li {
    display: inline-block;
    float: left;
    padding-left: 10px;

}

.head-sp1 {
    font-size: 22px;
    font-weight: bolder;
    color: #CCCCCC;
    font-family: 宋体;
}


.head-sp0 {
    font-size: 22px;
    font-weight: bolder;
    color: #3E3E3E;
    font-family: 宋体;
    padding-bottom: 32px;
    border-bottom: 2px solid rgb(255, 0, 106);
}

.sp0 {
    background-image: url("../image/Logon_image/imag01.png") !important;
}


li>i {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background-image: url("../image/Logon_image/imag00.png");
    text-align: center;
    line-height: 24px;
}



.main {
    text-align: center;
}

.main-body {
    display: inline-block;
}

.tupian {
    width: 300px;
    height: 280px;
    float: left;
    background: url("../image/Logon_image/timg.jpg") no-repeat 0px -299px;
    margin-top: 178px;
    margin-left: -213px;
    position: absolute;
}

.talk {
    width: 321px;
    height: 235px;
    background: url("../image/Logon_image/timgK2.png") no-repeat -193px -121px;
    position: absolute;
    z-index: 8;
}


.text {
    text-align: center;
    margin-top: 20px;
    position: absolute;
}


.text span {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    margin-left: 97px;

}

.anniu-text {
    line-height: 37px;
}

.anniu {
    width: 186px;
    height: 40px;
    background-color: #FF0036;
    margin-top: 120px;
    margin-left: 72px;
}

.t1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}